.window {

    height: 100%;
    width: 100%;

    > .panelH {
        float: left;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

.panel > .panelH {
    float: left;
    position: relative;
    overflow: hidden;
}