#menu {

    .line {
        width: 100%;
        clear:both;
    }

    .element {
        &:before {
            content: '<';
            color:#000;
        }
        &:after {
            content: '>';
            color:#000;
        }
        color: #A00;
        font-weight: 700;
        width: 25%;
        float: left;
    }

    .attr {
        color: #080;
        font-weight: 700;
        outline: none;
        border: 0px solid white;
        width: 25%;
        float: left;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .value {
        color: #EA0;
        font-weight: 700;
        outline: none;
        border: 0px solid white;
        width: 45%;
        float: left;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .option {
        float: left;
        width: 15%;
    }
}

