[data-tweaker] {
    cursor:pointer;
}

#viewer {
    @include fill;
}

.axis {
    font-size: 12px;
}

.axis path {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: #000;
}

#calmdown {
    width: auto;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
}